@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#svelte {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

.container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
